<br>
<div class="jumbotron">
  <div class="container">
  <h1>Blocitoff</h1>
  <p>Blocitoff is an easy way to manage your daily tasks.</p>
  <p>
    <% if current_user %>
        Hello <%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
        <button type="button" class="btn-btn primary"><%= link_to "Sign In", new_user_session_path %></button> or
        <button type="button" class="btn-btn primary"><%= link_to "Sign Up", new_user_registration_path %></button>
    <% end %>
  </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
   <p>This is where some really neat and infomative information will go in the near future</p>
 </div>
</div>
