
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Todo Item</th>
        <th>Time to complete</th>
        <th>Completed?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td><%= item.days_left %> days remaining </td>
        <td><button type="button" class="btn btn-danger"><%= link_to "", item, method: :delete, class: 'glyphicon glyphicon-ok' %></button></td>
      </tr>
    </tbody>
  </table>
</div>
